.statistics {
  margin-top: 100px;
  width: 400px;
  border: 1px solid rgb(52, 42, 42);
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.statList {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 30px;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 0;
  margin-top: 0;
}

.label,
.percentage {
  display: block;
  text-align: center;
}

.percentage {
  font-size: 27px;
}
